.commentButton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.comment-list {
    background-color: #faf9f5;
    padding: 0px 15px 10px 15px;
}

h4 {
    margin-top: 50px;
}
